<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{head}">
</head>
<body class="row col-6 mx-auto">
<form action="/category/edit" method="post">
    <input type="hidden" th:value="${category.id}" name="id">
    <input type="text" class="form-control" name="name" th:value="${category.name}">
    <button>EDIT CATEGORY</button>
</form>
<table class="table table-striped">
    <thead>
        <th>ID</th>
        <th>NAME</th>
        <th>CREATED AT</th>
        <th>UPDATED AT</th>
    </thead>
    <tbody>
        <tr>
            <td th:text="${category.id}"></td>
            <td th:text="${category.name}"></td>
            <td th:text="${category.createdAt}"></td>
            <td th:text="${category.updatedAt}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>